.header2 {
  display: none;
  // flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  padding: 6px 10px;
  position: relative;
  & > a {
    font-family: "Inter";
    font-style: normal;
    font-weight: 400;
    font-size: 10px;
    line-height: 127.47%;
    /* identical to box height, or 13px */

    letter-spacing: -0.5px;
    text-decoration-line: underline;

    color: #004583;
  }
  & > img {
    justify-self: center;
    width: 93px;
  }
  & > i {
    font-size: 21px;
    font-weight: bold;
    color: #004583;
    width: 18px;
    height: 18px;
  }

  & > .ochish {
    position: absolute;
    width: 100%;
    top: 100%;
    border-top: 1px solid #f3f3f3;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
    right: 0;
    background-color: #fff;
    transition: all 2s linear;
    z-index: 3;

    & > .work {
      display: flex;
      flex-direction: column;
      align-items: center;
    }
    & > .ul {
      display: flex;
      flex-direction: column;
      align-items: center;
      border-top: 1px solid #f3f3f3;
      border-bottom: 1px solid #f3f3f3;
      padding-top: 10px;
      padding-bottom: 10px;
      & > li {
        margin: 17px;
      }
    }
    & > .tel {
      display: flex;
      flex-direction: column;
      align-items: center;
    }
  }
}

@media screen and (max-width: 576px) {
  .header2 {
    display: flex;
  }
}
