.novosti__block {

  & > h3 {
    margin: 24px;
    text-align: center;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 127.47%;
    /* identical to box height, or 23px */

    letter-spacing: -0.5px;
    text-transform: uppercase;

    color: #000000;
  }
  & > .novosti__block__cards {
    & > :nth-child(2) {
      flex-direction: row-reverse;
      & > .text {
        & > i {
          transform: rotate(180deg);
        }
      }
    }
  }
  & > .bottom {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;

    & > h3 {
      max-width: 360px;
      width: 100%;
      font-style: normal;
      font-weight: 500;
      font-size: 18px;
      line-height: 127.47%;
      /* identical to box height, or 23px */

      letter-spacing: -0.5px;
      text-transform: uppercase;

      color: rgba(7, 24, 40, 0.08);
      padding: 28px;
      margin: auto;
      text-align: center;
    }
    & > a {
      max-width: 360px;
      width: 100%;
      font-style: normal;
      font-weight: 500;
      font-size: 18px;
      line-height: 127.47%;
      /* identical to box height, or 23px */

      letter-spacing: -0.5px;
      text-transform: uppercase;

      color: #004583;
      text-decoration: none;
      text-align: center;
    }
  }
}

.novosti__block:nth-child(2) {
  & > .bottom {
    flex-direction: row-reverse;
  }
}
